# Qt Build Files
build-database-Desktop*/
*.pro.user

# CLion Files
.idea/
CMakeLists.txt

sqlparser.cpp
sqlparser.hpp
sqlparser.output
sqllexer.cpp
location.hh
position.hh
stack.hh
database/layer/pythonif_wrap.cxx
